[% INCLUDE header.tt %]
[% navigation_bar_position = "top" %]
[% INCLUDE navigation.tt %]
<div class="post">

<h1> [% Title %] </h1>

[% Content %]

</div> <!-- class="post"-->

[% navigation_bar_position = "bottom" %]
[% INCLUDE navigation.tt %]
[% INCLUDE footer.tt %]
